
<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <ul class="list-inline text-center">
                    <% if (theme.twitter_url) { %>
                        <li>
                            <a href="<%- theme.twitter_url%>" target="_blank">
                             <svg class="icon icon-twitter"><use xlink:href="<%- url_for("icons.svg") %>#icon-twitter"></use></svg>
                            </a>
                        </li>
                    <% } %>

                    <% if (theme.facebook_url) { %>
                        <li>
                            <a href="<%- theme.facebook_url%>" target="_blank">
                             <svg class="icon icon-facebook"><use xlink:href="<%- url_for("icons.svg") %>#icon-facebook"></use></svg>
                            </a>
                        </li>
                    <% } %>

                    <% if (theme.github_url) { %>
                        <li>
                            <a href="<%- theme.github_url%>" target="_blank">
                             <svg class="icon icon-github"><use xlink:href="<%- url_for("icons.svg") %>#icon-github"></use></svg>
                            </a>
                        </li>
                    <% } %>

                    <% if (theme.mailto) { %>
                        <li>
                            <a href="mailto:<%- theme.mailto%>" target="_blank">
                             <svg class="icon icon-mail"><use xlink:href="<%- url_for("icons.svg") %>#icon-mail"></use></svg>
                            </a>
                        </li>
                    <% } %>
                </ul>
                <p class="copyright text-muted">&copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %><br></p>
            </div>
        </div>
    </div>
</footer>
