<!-- Page Header -->
<!-- Set your background image for this header in the theme's configuration: index_cover and index_coversrcset -->

<%
    let cover,srcset;
    if(typeof item !== 'undefined' && item.cover){
        cover = item.cover;
        srcset = item.coversrcset;
    }
    else if(theme.index_cover) {
        cover = theme.index_cover;
        srcset = theme.index_coversrcset;
    }

    let cover_mapped = url_for(cover);
    let srcset_mapped = null;

    //tranform the srcset
    // sample: ["img/hamburger_hafen@0,1x.jpg 600w", "img/hamburger_hafen@0,25x.jpg 1500w", "img/hamburger_hafen@0,5x.jpg 3000w", "img/hamburger_hafen@1,0x.jpg"]
    if(srcset) {
        let srcsetEntrys = srcset.map(s => s.trim());

        //entry is now either "url widht_description" or only "url" and the url needs to be mapped
        srcsetEntrys = srcsetEntrys.map(entry => {
                let entryParts = entry.split(" ");
                entryParts[0] = url_for(entryParts[0]);

                return entryParts.reduce((s1,s2) => s1+" "+s2);
            });
        srcset_mapped = 'srcset="' + srcsetEntrys.reduce((s1,s2) => s1+", "+s2) + '"';
    }
%>


<header class="intro-header">
    <img src="<%- cover_mapped %>" <%- srcset_mapped %> />
    <div class="site-heading text-center">
        <h1><%- config.title %></h1>
        <hr class="small">
        <h2 class="subheading"><%- config.subtitle %></h2>
    </div>
</header>

<!-- Main Content -->
<article>
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <% page.posts.each(function(item){ %>
                <%- partial('_partial/article-index', {item: item}) %>
            <% }); %>

            <%- partial('_partial/pagination') %>
        </div>
    </div>
</div>

